*{
    margin:auto;
}
body{
    background-color:white;
    font-family:arial, sans-serif;
    box-sizing:border-box;
    height:100%;
    
}
header{
    height:fit-content;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration-line: none;
}
a {
    text-decoration-line:none;
}
.signIn{
    background-color: #2b7de9;
    border-radius: 5px;
    border:4px solid  #2b7de9;
    color:white;
    padding:5px 22px;
    font-size:14px;
}
.gmail{
    /* margin-left:auto; */
}
.google{
    display:block;
    text-align: center;
    margin-top:200px;

}.bar{
    /* margin:0 auto; */
    margin-top:15px;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
}
.searchbar{
    display:flex;
    margin-top:10px;
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    background-color:transparent;
    outline:none;
}
.buttons{
    display:flex;
    margin-top:20px;

}
.button{
    background-color: #f5f5f5;
    padding:10px;
}
footer{
    /* border:1px solid grey; */
    
}

.footer{
    background-color:rgb(224, 224, 224);
    list-style: none;
    position:absolute;
    bottom:0;
    display:flex;
    padding:10px;
    margin:0 auto;
    width:100%;
    color:#70757a;
    font-size:14px;
    justify-content: flex-start;
}
.carbon{
    margin-left:auto;
    margin-right: auto;
}